<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blue"
        tools:targetApi="31">

        <activity
            android:name=".mainnavigation.ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stackexchange.StackExchangeActivity"
            android:exported="true"
            android:theme="@style/Theme.StackExchange" />

        <activity
            android:name="com.krunal.demo.searchwebview.ui.activities.SearchWebActivity"
            android:exported="true" />

        <activity
            android:name=".appcomponents.ui.activities.ImagePickerActivity"
            android:exported="true"
            android:label="DemoImagePicker"
            android:taskAffinity="com.krunal.demo.imagePicker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appcomponents.ui.activities.FirstActivity"
            android:exported="true"
            android:label="FirstActivity"
            android:taskAffinity="com.krunal.demo.firstActivity"></activity>

        <activity
            android:name=".appcomponents.ui.activities.SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="youtube.com" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appcomponents.ui.activities.FragmentDemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.krunal.demo.action.MESSAGE" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".navigation.ui.activities.TriviaGameActivity"
            android:exported="true"
            android:theme="@style/GitHubTheme">
            <nav-graph android:value="@navigation/trivia_nav_graph" />
        </activity>

        <activity
            android:name="com.krunal.demo.githubclient.ui.activity.GitHubClientActivity"
            android:launchMode="singleTask"
            android:exported="false" />

        <activity
            android:name="com.krunal.demo.githubclient.ui.activity.AuthorizationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/GitHubTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.krunal.demo"
                    android:scheme="krunal" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>